.portfolio__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 50px;

  width: 100%;
  height: 100vh;
  min-height: 820px;
  position: relative;

  background: url("../images/portfolio.jpg") center no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.intro__title,
.intro__subtitle {
  color: #fff;
}

.section__header {
  padding-bottom: 30px;
}

/* Service Type Switch */

/*Switch*/
.switch {
  position: relative;
  width: 260px;
  height: 50px;
  display: block;
  margin: auto;
  margin-bottom: auto;
}

.switch input {
  display: none;
}

.switch-slider.round {
  border-radius: 50px;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border: 2px solid #000;
}

/*Moving SLider Section*/
.switch-slider::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  left: 0;
  bottom: 0;
  background-color: #000;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50px;
}

/*Slider Text*/
.slider_text {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  width: 100%;
  text-align: center;
}

.slider_text > span {
  color: #fff;
  font-size: 18px;
  width: 50%;
  display: block;
  float: left;
  -webkit-transition: .4s;
  transition: .4s;
}


/*Changes on Slide*/
input:checked + .switch-slider::before {
  -webkit-transform: translateX(130px);
  -ms-transform: translateX(130px);
  transform: translateX(130px);
}

input:checked + .switch-slider .off {
  color: #000;
}

input:checked + .switch-slider .on {
  color: #fff;
}

.switch-slider .slider_text .on {
  color: #000;
}

/* GALLERY */
.gallery {
  margin-top: 50px;
}

.interior__inner {
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
  flex-wrap: wrap;

  position: relative;
}

.interior__item {
  height: 350px;
  margin: 0 10px;

  cursor: pointer;
}

.interior__item img {
  width: 350px;
  height: 350px;

  border-radius: 20px;
}

.interior__bottom {
  position: absolute;
  bottom: 0;
  width: 350px;

  padding: 7px 20px;

  background: #fff;
  color: #000;
  
  border-radius: 20px;
  border: 1px solid #000;

  font-size: 17px;
  text-transform: capitalize;
  font-weight: 400;

}

.item__more {
  visibility: hidden;
  transition: .2s all;
}

.interior__item:hover > .item__more {
  visibility: visible;
  background: #000;
  color: #fff;
}

/* Modal window */
.modal-window {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  
  top: 0;
  left: 0;

  width: 100%;
  height: 100%; 
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-window__inner {
  background-color: #fefefe;
  border: 1px solid #888;

  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 40%;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 10px;
  float: right;

  color: #000;
  font-size: 28px;
  font-weight: bold;
  z-index: 1000;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* Bootstrap carousel */
.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next,
.carousel-item-prev {
  position: absolute;
  top: 0;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.carousel-item-next,
.active.carousel-item-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-item-next,
  .active.carousel-item-right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.carousel-item-prev,
.active.carousel-item-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-item-prev,
  .active.carousel-item-left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}

.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators li::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators .active {
  background-color: #fff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
  -webkit-clip-path: none;
  clip-path: none;
}

/* Carousel own styles*/
.carousel__img {
  width: 100%;
  height: 650px;
  margin: 0;
  padding: 0;
  /* max-height: 50%; */
  /* width: 100%;
  height: 60%; */
  /* max-height: 1080px; */
}



