body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:after,
*:before {
    box-sizing: border-box;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    display: block;
}

li {
    display: block;
}

/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/* INTRO */
.intro {
    /*     выравнивание контейнера внутри по центру*/
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 50px;

    width: 100%;
    height: 100vh;
    min-height: 820px;
    position: relative;

    background: url("../images/intro.jpg") center no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    color: #000;
    font-size: 85px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;

    /*    position: relative;*/
}

.intro__subtitle {
    font-size: 25px;
    color: #000;
    text-align: center;
    margin-bottom: 240px;

    position: relative;
    top: 100px;
    left: 0px;
}

/* HEADER */
.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* center logo and navigation
with spacing between */
.header__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__logo {
    margin-left: 30px;
    width: 50px;
    height: 50px;
}


/* Nav */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    /*    straighten out the line related parents bl*/
    position: relative;
    /*чтоб выровнять полоску относительно родительсткого
    то есть текущего блока*/

    color: #000;
    text-decoration: none;

    transition: color .2s linear;
}


/* Line below */
.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;


    background-color: #808080;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #808080;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #808080;
}

/* BUTTON */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 13px 30px;

    border-radius: 50px;

    /*    border: 3px solid #fff;*/

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background: #000;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear,
        color .1s linear;

    transition: box-shadow 0.2s linear;

    cursor: pointer;
}

.btn:hover {
    background-color: #fff;
    color: #333;
    box-shadow: 4px 4px 7px #999999;
}

.btn--fixed {
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 100;
    border: 1px solid rgba(255, 255, 255, 0.6);
}


/* SECTION */
.section {
    /*    padding: 50px 0px;*/
    margin-bottom: 80px;
    text-align: center;
}

.section__header {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding: 50px 0;
}

.section .btn {
    margin-top: 120px;
    background-color: #999999;
}


/* Section header */
.section--rating {

    background: url("../images/intro.jpg") center no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;

    padding: 50px 0;
    color: #fff;
    background-color: #000;
    opacity: 0.7;
    text-align: center;
}

.rating__text {
    font-size: 28px;
    line-height: 1.2em;
}

.rating__text span {
    margin-left: 200px;
}

/* Section grey */
.section--grey {
    background-color: #f8f8f8;
    margin-bottom: 0;
    padding-bottom: 100px;
}

/* Section contact us*/
.section--contact {
    position: relative;
}

/* ABOUT */
.about {
    text-align: center;
}

.about .section__header {
    padding: 0;
    margin: 10px 0 30px 0;
}

.about__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about__item {
    width: 500px;
    height: 300px;
}

.about__item img {
    width: 100%;
    height: 100%;
}

.about__text {
    margin: auto;
    height: 100%;
    text-align: center;
}

.about .btn:hover {
    background: #999999;
    color: #fff;
}

/*    SERVICES    */

.why {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.why__text {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    color: #000;
    text-align: center;

    margin-bottom: 70px;
}

.why__icon {
    margin-bottom: 15px;
}

.why__icon img {
    border-radius: 50px;
}

.why__pros {
    font-size: 16px;
    line-height: 1.2em;
    color: #000;
}

/*    REVIEWS    */

.reviews {
    display: flex;
    justify-content: space-evenly;
}

.reviews__card {
    width: 340px;
    height: 300px;
    background-color: #3e3e3e;
    color: #fff;

    border-radius: 35px;
    position: relative;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.card__overlay {
    position: absolute;
    z-index: 1;
    bottom: -1px;
    left: 0;

    width: 340px;
    height: 95px;

    border-radius: 25px 0px 25px 25px; 

    background-color: #fff;
    color: #000;

}

.card__overlay::before {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 95px;
    height: 50px;
    width: 25px;
    border-bottom-right-radius: 35px;
    box-shadow: 0 25px 0 0 #fff;
}

.overlay__inner {
    display: flex;
    /* justify-items: center; */
    align-items: center;
    /* align-content: stretch; */
    justify-content: center;
    /* flex-direction: row; */
    /* vertical-align: center; */
    
}

.reviews__img {
    border-radius: 50%; 
    margin-top: 10px;
    margin-right: 15px;
}

.reviews__title {
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;

    /* padding: 30px; */

}

.reviews__rating {
    display: block;
    font-size: 10px;
    padding: 0px;
    margin: 0px;
}

.reviews__text {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;

    text-align: center;
    padding: 50px;
}

/*    SERVICES    */
.services__inner {
    display: flex;
    justify-content: space-between;
}

.list {
    display: inline-block;
    height: auto;
    margin: 0 100px;
    padding-top: 40px;
}

.list__item {
    font-size: 15px;
    font-weight: 300;
    color: #000;
    margin-bottom: 20px;
    transition: transform .2s linear;

}

.list__item:first-child {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.3em;
    color: #000;

    margin-bottom: 30px;
}

.list__item:hover {
    transform: scale(1.2);
}

.services__img {
    width: 500px;
    height: 350px;

    background: url(../images/services_exterior.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

/*    PORTFOLIO    */

.portfolio {
    display: flex;
    justify-content: space-around;

    margin-top: 100px;
    padding-bottom: 40px;
}

.portfolio img {
    width: 500px;
    height: 350px;
}

.content .section__header {
    padding: 10px 0 20px;
}

.portfolio__text {
    font-size: 18px;
    width: 500px;
    color: #000;
    line-height: 1.2em;
}

/*    CONTACT    */
.contact {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.contact__info iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 600px;
    height: 470px;
}

.contact__form {
    padding: 50px 0;
/* 
    position: absolute;
    top: 0;
    right: 0; */
    float: right;
    width: 50%;
    min-width: 200px;
    height: 470px;

    /* background: rgb(255, 255, 255, 0.8);
    border-radius: 35px; */
}


/* Contact form */
.contact__input {
    width: 70%;
    height: 45px;

    padding: 0 20px;
    margin-bottom: 20px;

    border: none;
    border-radius: 25px;

    font-size: 15px;
    color: #000;
    text-align: left;

    outline-color: #999999;
}

.contact__input--area {
    height: 100px;

    padding: 15px 20px;

    font-size: 15px;
    font-family: inherit;
}

.contact__btn {
    display: block;
    margin: 0 auto;
    padding: 15px 60px;

    border: none;
    border-radius: 30px;
    background: #000;
    text-decoration: none;
    text-transform: uppercase;

    font-size: 15px;
    font-weight: 500;
    color: #fff;

    transition: transform .2s linear;
    transition: background .1 linear;
}

.contact__btn:hover {
    background: #595959;
    transform: scale(1.1)
}

/*    FOOTER    */
.footer {
    background: #000;
    color: #fff;

}

.footer__logo {
    text-align: center;
}

.footer__logo img {
    margin-top: 25px;
    width: 120px;
    height: 120px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    position: relative;
}

.footer__item {
    width: 40%;
    height: auto;

    padding: 40px;
}

.footer__item:first-child::after {
    content: '';
    display: block;
    position: absolute;
    top: 25%;
    left: 50%;
    background: #fff;
    height: 130px;
    width: 2px;
}

.info__title {
    font-size: 25px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.info__item {
    width: 260px;
    margin: 0 auto;
    padding: 15px 0;


    position: relative;
}

.info__icon {
    position: absolute;
    top: 30px;
    left: 0;
}

.info__text {
    display: inline-block;

    padding-left: 50px;

    letter-spacing: 2px;
}


.side__inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.side__text {
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);

    margin: 0;
    padding: 0;

    font-size: 16px;
    color: #fff;
    letter-spacing: 5px;
    line-height: 1.6em;
    text-align: center;
}






















/*    ABOUT_PAGE STYLE    */
.header__inner .nav a {
    color: #fff;
}

.about__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    padding-top: 50px;

    width: 100%;
    height: 100vh;
    min-height: 820px;
    position: relative;

    background: url("../images/about-intro.jpg") center no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.about__title,
.about__subtitle {
    color: #fff;
}

/*    PARALLAX    */
/* .parallax {
    background: url("../images/about-intro.jpg") center no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
} */

.parallax__wrap {
    position: relative;
}

.parallax__wrap:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
}

.parallax__inner {
    position: relative;
    z-index: 1;
}


/*    OUR STORY    */

.ourstory__inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.ourstory__img {
    width: 450px;
    height: 280px;
}

.ourstory__text {
    width: 550px;

    padding-top: 40px;
    /*    margin: 0 auto;*/

    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
    color: #000;
}


.ourstory__text:after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: #000;
    margin: 60px auto 60px;
}


/*    REASONS     */
.reasons {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.reasons__item {
    width: 33.33%;
    padding: 0 35px 40px 100px;
    position: relative;
    margin-bottom: 40px;
}

.reasons__icon {
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 1;
    border-radius: 50px;
}


.reasons__title {
    margin-bottom: 10px;
    font-size: 15px;
    color: #000;
    text-transform: uppercase;
}

.reasons__text {
    width: 300px;
    color: #000;
}

.reasons__button {
    display: flex;
    justify-content: space-evenly;
}

.reasons__button .btn {
    margin-top: 0;
}

/* STATISTICS */

.statistics {
    width: 100%;

}

.stat {
    display: flex;
    flex-wrap: wrap;

    z-index: 100;

}

.stat__item {
    flex: 1 1 0;
    /*same size for all blocks */
    padding: 70px 25px;

    text-align: center;
    color: #fff;
}

.stat__count {
    margin-bottom: 10px;

    font-size: 72px;
    font-weight: 700;
    line-height: 1;

    color: #fff;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}






/*     PORTFOLIO PAGE     */

.portfolio__intro {
    background: url("../images/portfolio-intro.jpg") center no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__title,
.intro__subtitle {
    color: #fff;
}

/* GALLERY */

/* INTERIOR */
.interior__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.interior__item {
    margin: 10px;
}

.interior__item img {
    width: 300px;
    height: 300px;
    transition: transform .2s;
    border-radius: 10px;
}

.interior__item img:hover {
    transform: scale(1.5);
    border: 1px solid #349bcb;
    border-radius: 25px;
}