<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Prestige Color</title>
    
    <!-- Tab icon -->
    <link rel="icon" href="../public/images/logo.png">

    <!-- Styles -->
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/about.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">

    <!-- icons -->
    <script src="https://kit.fontawesome.com/f4237ef674.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <img src="../public/images/logo.png" alt="PrestigeColor Logo" class="header__logo">

                <nav class="nav">
                    <a href="index.html" class="nav__link">Home</a>
                    <a href="about.html" class="nav__link">About</a>
                    <a href="portfolio.html" class="nav__link">Projects</a>
                    <a href="index.html#section-contact" class="nav__link">Contact</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="about__intro parallax parallax__wrap">
        <div class="container">
            <div class="intro__inner parallax__inner">
                <div class="intro__title about__title">About Us</div>
                <div class="intro__subtitle about__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus autem repudiandae velit necessitatibus reiciendis voluptas facere deserunt voluptate vitae saepe, in facilis officia, hic similique, asperiores tempore deleniti aperiam.</div>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="container">
            <div class="section__header">Our Story</div>

            <div class="ourstory">
                <div class="ourstory__inner">
                    <img src="../public/images/ourstory-img.jpg" alt="" class="ourstory__img">
                    <div class="ourstory__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit nobis dignissimos ut doloribus illum ratione hic quasi, repudiandae ipsa eaque vero necessitatibus consectetur, maiores illo autem maxime quas voluptatum cumque! Similique quia aspernatur itaque alias, mollitia blanditiis ut fugit omnis unde vero iste, architecto facere, consequatur modi voluptas est doloremque minus accusantium sit aliquid. Non perferendis, saepe ullam maxime sequi.</div>
                </div>
            </div>
        </div>
    </section>


    <section class="section section--grey">
        <div class="container">
            <div class="section__header">Why Us</div>

            <div class="reasons">
                <div class="reasons__item">
                    <img src="https://via.placeholder.com/50" alt="" class="reasons__icon">
                    <div class="reasons__title">Lorem ipsum dolor sit</div>
                    <div class="reasons__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, assumenda.</div>
                </div>
                <div class="reasons__item">
                    <img src="https://via.placeholder.com/50" alt="" class="reasons__icon">
                    <div class="reasons__title">Lorem ipsum dolor sit</div>
                    <div class="reasons__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, assumenda.</div>
                </div>
                <div class="reasons__item">
                    <img src="https://via.placeholder.com/50" alt="" class="reasons__icon">
                    <div class="reasons__title">Lorem ipsum dolor sit</div>
                    <div class="reasons__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, assumenda.</div>
                </div>
                <div class="reasons__item">
                    <img src="https://via.placeholder.com/50" alt="" class="reasons__icon">
                    <div class="reasons__title">Lorem ipsum dolor sit</div>
                    <div class="reasons__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, assumenda.</div>
                </div>
                <div class="reasons__item">
                    <img src="https://via.placeholder.com/50" alt="" class="reasons__icon">
                    <div class="reasons__title">Lorem ipsum dolor sit</div>
                    <div class="reasons__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, assumenda.</div>
                </div>
                <div class="reasons__item">
                    <img src="https://via.placeholder.com/50" alt="" class="reasons__icon">
                    <div class="reasons__title">Lorem ipsum dolor sit</div>
                    <div class="reasons__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, assumenda.</div>
                </div>
            </div>

            <div class="reasons__button">
                <a href="#" class="btn">Contact Us</a>
                <a href="#" class="btn">Portfolio</a>
            </div>

        </div>
    </section>

    <div class="statistics">
        <div class="container">

            <div class="stat">
                <div class="stat__item">
                    <div class="stat__count">498</div>
                    <div class="stat__text">Happy Clients</div>
                </div>

                <div class="stat__item">
                    <div class="stat__count">512</div>
                    <div class="stat__text">Finished projects</div>
                </div>

                <div class="stat__item">
                    <div class="stat__count">7+</div>
                    <div class="stat__text">Years experience</div>
                </div>
            </div>

        </div>
    </div>

    <section class="section hows">
        <div class="container">
            <div class="section__header">How Do We Work</div>
            <div class="how__works">
                <div class="how__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam illum fugiat perferendis vero. Nesciunt a recusandae eveniet pariatur cumque nisi? Amet reiciendis molestiae, sapiente quisquam hic placeat. Dolorem dolorum consectetur obcaecati numquam inventore nesciunt, quaerat harum similique distinctio voluptas. Quidem?</div>
                <div class="how__example">
                    <div class="example__item">
                        <img class="example__img" src="../public/images/example_before.jpg" alt="">
                        <div class="example__title">Before</div>
                    </div>
                    <div class="example__item">
                        <img class="example__img"src="../public/images/example_after.jpg" alt="">
                        <div class="example__title">After</div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="review__rating">
        <div class="container">
            <div class="section__header">What People Say</div>
            <div class="rating__inner">
                <div class="rating__item">
                    <img src="../public/images/homeadvisorLogo.png" alt="" class="rating__logo">
                    <div class="rating__rate">4.9
                        <span class="rating__stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </span>
                    </div>
                    <a href="https://www.homeadvisor.com/rated.PrestigeColorLLC.68693560.html" class="rating__more">Read all our reviews</a>
                </div>

                <div class="rating__item">
                    <img src="../public/images/googleLogo.png" alt="" class="rating__logo">
                    <div class="rating__rate">4.5
                        <span class="rating__stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </span>
                    </div>
                    <a href="#" class="rating__more">Read all our reviews</a>
                </div>

            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer__logo">
                <img src="../public/images/logo1.png" alt="logo">
            </div>

            <div class="footer__inner">
                <div class="footer__item">
                    <div class="info__title">Contact Us</div>
                    <div class="info__item">
                        <i class="fa-solid fa-clock fa-xl info__icon"></i>
                        <div class="info__text">Mon-Fri 8AM to 7PM<br> Saturday 10AM to 4PM<br>Sunday 1PM to 4PM</div>
                    </div>
                    <div class="info__item">
                        <i class="fa-solid fa-location-dot fa-xl info__icon"></i>
                        <div class="info__text">22525 SE 64th Pl, Issaquah, WA, 98027</div>
                    </div>
                    <div class="info__item">
                        <i class="fa-solid fa-phone fa-xl info__icon"></i>
                        <div class="info__text">(425) 410 2292</div>
                    </div>
                    <div class="info__item">
                        <i class="fa-solid fa-at fa-xl info__icon"></i>
                        <div class="info__text">sales@prestigecolorco.com</div>
                    </div>

                </div>


                <div class="footer__item">
                    <div class="side__inner">
                        <div class="side__text">A professional painting company on the Eastside,WA</div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body></html>
